<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.hgh.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>com.hgh.servlet.StuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeaServlet</servlet-name>
    <servlet-class>com.hgh.servlet.TeaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecServlet</servlet-name>
    <servlet-class>com.hgh.servlet.SecServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportteacherServlet</servlet-name>
    <servlet-class>com.hgh.servlet.ExportteacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportStudentServlet</servlet-name>
    <servlet-class>com.hgh.servlet.ExportStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportcourseServlet</servlet-name>
    <servlet-class>com.hgh.servlet.ExportcourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/StuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeaServlet</servlet-name>
    <url-pattern>/TeaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecServlet</servlet-name>
    <url-pattern>/SecServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportteacherServlet</servlet-name>
    <url-pattern>/ExportteacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportStudentServlet</servlet-name>
    <url-pattern>/ExportStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportcourseServlet</servlet-name>
    <url-pattern>/ExportcourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportquestionServlet</display-name>
    <servlet-name>ExportquestionServlet</servlet-name>
    <servlet-class>com.hgh.servlet.ExportcourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportquestionServlet</servlet-name>
    <url-pattern>/ExportquestionServlet</url-pattern>
  </servlet-mapping>
</web-app>